@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h4><b>Add New Cateogory</b></h4>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{

    @Html.Label("Category Title")
    @Html.TextBoxFor(i => i.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.CategoryName, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Category Content")
    @Html.TextAreaFor(i => i.CategoyDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.CategoyDescription, "", new { @class = "text-danger" })
    <br />

    @*@Html.Label("Blog Cateogry")
    @Html.DropDownListFor(i => i.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.CategoryId, "", new { @class = "text-danger" })*@


    <br />
    <button type="submit" class="btn btn-primary submit mb-4">Add</button>


}
