@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h4><b>Add New Blog</b></h4>
<br />
@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{

    @Html.Label("Blog Title")
    @Html.TextBoxFor(i => i.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.BlogTitle, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Blog Content")
    @Html.TextAreaFor(i => i.BlogContent, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.BlogContent, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Blog Image")
    @Html.TextBoxFor(i => i.BlogImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.BlogImage, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Blog Mini Image")
    @Html.TextBoxFor(i => i.BlogThumbnailImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.BlogThumbnailImage, "", new { @class = "text-danger" })


    <br />



    @Html.Label("Blog Cateogry")
    @Html.DropDownListFor(i => i.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    @Html.ValidationMessageFor(i => i.CategoryId, "", new { @class = "text-danger" })


    <br />
    <button type="submit" class="btn btn-primary submit mb-4">Add</button>


}
